{% extends "layout.html" %}

{% block body %}


<div class="container mt-5 mb-5">
<p class="profiletext1 text-center">Explore voice actors by
</p>
<div class="row mt-5">
  <div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Audiobooks</div></a>

  </div>
  <div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Animation</div></a>

  </div>
  <div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Business</div></a>

  </div>

 <div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Documentaries</div></a>

  </div>



 <div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Educational</div></a>

  </div>




 <div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Internet Video</div></a>

  </div>



 <div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Movie Trailers</div></a>
</div>


<div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Podcasting</div></a>
</div>



<div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Radio </div></a>
</div>


<div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Television </div></a>
</div>



<div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">TelePhone </div></a>
</div>





<div class="col-sm-4">
    <a href="/search"><div class="card shadow-sm p-3 mb-5 bg-white rounded">Video Games </div></a>
</div>


  </div>

</div>

</div>









{% endblock %}