{% extends "layout.html" %} {% block title %}FAQ{% endblock %} {% block head %}
{{ super() }}
<link
    rel="stylesheet"
    href='{{ url_for("static", filename="css/floating.css") }}'
/>
{% endblock %} {% block body %}
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>

<div class="container mt-5 mb-5">
    <p class="hometext4 text-center">Repeatedly Asked Questions</p>
    <div id="accordion">
        <div class="card">
            <div
                class="card-header collapsed"
                id="headingOne"
                data-toggle="collapse"
                data-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne"
            >
                <div class="row">
                    <div class="col-sm-11">
                        <button class="btn btn-link">
                            What is Voices city ?
                        </button>
                    </div>
                    <div class="col-sm-1 text-right pr-4">
                        <i class="fa fa-caret-down home-drop-icon-1"></i>
                    </div>
                </div>
            </div>

            <div
                id="collapseOne"
                class="collapse"
                aria-labelledby="headingOne"
                data-parent="#accordion"
                style=""
            >
                <div class="card-body">
                    A 'Voices city' is a sound portrayal gave by a voice artist
                    to a venture or creation. Voice exaggerates a critical part
                    in showcasing, publicizing, learning, communicated, gaming,
                    and numerous different enterprises to pass on brand
                    informing, improve maintenance, rejuvenate characters, and
                    by and large make more important associations with the
                    target audience.
                </div>
            </div>
        </div>
        <div class="card">
            <div
                class="card-header"
                id="headingTwo"
                data-toggle="collapse"
                data-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
            >
                <div class="row">
                    <div class="col-sm-11">
                        <button class="btn btn-link">
                            What amount does Voices city cost ?
                        </button>
                    </div>
                    <div class="col-sm-1 text-right pr-4">
                        <i class="fa fa-caret-down home-drop-icon-1"></i>
                    </div>
                </div>
            </div>
            <div
                id="collapseTwo"
                class="collapse"
                aria-labelledby="headingTwo"
                data-parent="#accordion"
            >
                <div class="card-body">
                    Voices city rates fluctuate, and rely upon the attributes of
                    your task, for example, the length of your content and class
                    of work (for example Television, radio, online video, and so
                    on), just as the specific voice artist you select.
                    Nonetheless, making a record and posting jobs on our site
                    are both free. Get familiar with Voices city rates and begin
                    presenting jobs on locating the best voice for your venture.
                </div>
            </div>
        </div>
        <div class="card">
            <div
                class="card-header"
                id="headingThree"
                data-toggle="collapse"
                data-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
            >
                <div class="row">
                    <div class="col-sm-11">
                        <button class="btn btn-link">
                            How would I recruit a voice artist ?
                        </button>
                    </div>
                    <div class="col-sm-1 text-right pr-4">
                        <i class="fa fa-caret-down home-drop-icon-1"></i>
                    </div>
                </div>
            </div>
            <div
                id="collapseThree"
                class="collapse"
                aria-labelledby="headingThree"
                data-parent="#accordion"
            >
                <div class="card-body">
                    Start by making your free account and filling in an
                    occupation posting. Incorporate data about your task, the
                    kind of voice artist you'd like, and a little segment of
                    your content for voice entertainers to use for their tryouts
                    to you. Our restrictive VoiceTie system will at that point
                    work in the background to welcome the most appropriate
                    talent. When you hear the exact voice for your undertaking,
                    essentially click 'Hire.'
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div
            class="card-header"
            id="headingfour"
            data-toggle="collapse"
            data-target="#collapsefour"
            aria-expanded="false"
            aria-controls="collapsefour"
        >
            <div class="row">
                <div class="col-sm-11">
                    <button class="btn btn-link">
                        What makes a decent Voices City ?
                    </button>
                </div>
                <div class="col-sm-1 text-right pr-4">
                    <i class="fa fa-caret-down home-drop-icon-1"></i>
                </div>
            </div>
        </div>
        <div
            id="collapsefour"
            class="collapse"
            aria-labelledby="headingfour"
            data-parent="#accordion"
        >
            <div class="card-body">
                A decent Voices City adequately passes on the proposed message
                and significance, with the correct tone, style, and words. The
                delivery of the content should be clear and straightforward, be
                charming to tune in to, and for the most part be predictable
                with the brand that the specific venture is speaking to. Become
                familiar with building your brand through an incredible Voices
                City
            </div>
        </div>
    </div>

    <div class="card">
        <div
            class="card-header"
            id="headingfive"
            data-toggle="collapse"
            data-target="#collapsefive"
            aria-expanded="false"
            aria-controls="collapsefive"
        >
            <div class="row">
                <div class="col-sm-11">
                    <button class="btn btn-link">
                        What payment methods do you accept?
                    </button>
                </div>
                <div class="col-sm-1 text-right pr-4">
                    <i class="fa fa-caret-down home-drop-icon-1"></i>
                </div>
            </div>
        </div>
        <div
            id="collapsefive"
            class="collapse"
            aria-labelledby="headingfive"
            data-parent="#accordion"
        >
            <div class="card-body">
                Voices City accepts VISA, Mastercard, Discover, Paypal, and
                offers invoicing for qualifying accounts.
            </div>
        </div>
    </div>

    <div class="card">
        <div
            class="card-header"
            id="headingsix"
            data-toggle="collapse"
            data-target="#collapsesix"
            aria-expanded="false"
            aria-controls="collapsesix"
        >
            <div class="row">
                <div class="col-sm-11">
                    <button class="btn btn-link">
                        What currency do you use?
                    </button>
                </div>
                <div class="col-sm-1 text-right pr-4">
                    <i class="fa fa-caret-down home-drop-icon-1"></i>
                </div>
            </div>
        </div>
        <div
            id="collapsesix"
            class="collapse"
            aria-labelledby="headingsix"
            data-parent="#accordion"
        >
            <div class="card-body">All amounts are shown in U.S. dollars.</div>
        </div>
    </div>

    <div class="card">
        <div
            class="card-header"
            id="headingseven"
            data-toggle="collapse"
            data-target="#collapseseven"
            aria-expanded="false"
            aria-controls="collapseseven"
        >
            <div class="row">
                <div class="col-sm-11">
                    <button class="btn btn-link">
                        What kind of projects are available?
                    </button>
                </div>
                <div class="col-sm-1 text-right pr-4">
                    <i class="fa fa-caret-down home-drop-icon-1"></i>
                </div>
            </div>
        </div>
        <div
            id="collapseseven"
            class="collapse"
            aria-labelledby="headingseven"
            data-parent="#accordion"
        >
            <div class="card-body">
                Voices City has professional voice actors that can complete
                virtually any kind of voice over project you can think of.
                Whether you require a national TV spot, global brand voice or an
                internal training video or voice greeting, Voices City is the
                only voice over solution you need. It’s why we’re #1 in the
                world!
            </div>
        </div>
    </div>
</div>

{% endblock %}
