{% extends "layout.html" %} {% block title %}Actors{% endblock %} {% block head
%} {{ super() }}
<link
    rel="stylesheet"
    href='{{ url_for("static", filename="css/floating.css") }}'
/>
{% endblock %} {% block body %}
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>

<div class="container mt-1 mb-5">
    <p class="h1">Tips for secure face to face meetings</p>
    <p class="h5 font-weight-light">
        Voices City is a hosting business that provides both digital and offline
        services. Here are some safety precautions to take while working on
        projects that need face-to-face encounters.
    </p>
    <p class="h2">
        To ensure you're safe, follow these safety recommendations:
    </p>
    <p class="h5 font-weight-light">
        We are disclaiming liability for the usage of third-party services.
    </p>
    <p class="h5 font-weight-light">
        Voices City is not accountable or responsible for the actions of VO
        artist or client. Please review our Terms of Service.
    </p>
    <p class="h2">Is there anything to report?</p>
    <p class="h5 font-weight-light">
        It is your responsibility to notify Customer Support (
        <a href="mailto:support@voicescity.com" style="color: blue"
            >Support@voicescity.com</a
        >) if you were present at a meeting where the VO artist or client
        behaved unprofessionally (for example, by demanding personal or payment
        information, or similar).
    </p>
    <p class="h2">Prior to and after the meeting</p>
    <p class="h5 font-weight-light">
        When considering meeting a VO artist or client, be sure to take into
        consideration the following things:
    </p>
    <p class="h3">Communications</p>
    <p class="h5 font-weight-light">
        Only use your Voices City Inbox to communicate. Don't use any other
        email (such as personal email or social networking accounts) or any
        other profiles on any websites, since it may result in malware or virus
        problems.
    </p>
    <p class="h5 font-weight-light">Consider the following examples:</p>
    <ul>
        <li class="h5 font-weight-light">
            Have all of the online interactions been courteous and professional
            in the manner?
        </li>
        <li class="h5 font-weight-light">
            Was it personal information, money, or anything else that they
            wanted?
        </li>
        <li class="h5 font-weight-light">
            Were their inquiries personal and invasive?
        </li>
    </ul>
    <p class="h3">Contact Details:</p>
    <p class="h5 font-weight-light">
        Avoid sharing your private home or cell phone number.
    </p>
    <p class="h3">Public Information</p>
    <ul>
        <li class="h5 font-weight-light">
            Identification documents such as a national identification card,
            social security number, driver's license, passport, and so on.
        </li>
        <li class="h5 font-weight-light">Address</li>
        <li class="h5 font-weight-light">
            Mobile, home, and business phone numbers
        </li>
        <li class="h5 font-weight-light">
            Information about your bank or payment method
        </li>
        <li class="h5 font-weight-light">
            Payments on Voices City must be made exclusively through Voices
            City, as stated in our Terms of Service.
        </li>
        <li class="h5 font-weight-light">
            The Customer Support team can assist you if there is a problem with
            your payment while using Voices City.
        </li>
    </ul>
    <p class="h3">Getting ready for the meeting</p>
    <ul>
        <li class="h5 font-weight-light">
            When meeting with a VO artist or client in person, keep a few safety
            precautions in mind.
        </li>
        <li class="h5 font-weight-light">
            Look for information on the internet.
        </li>
        <li class="h5 font-weight-light">
            Did you make an effort to get some insight into the other person?
        </li>
        <li class="h5 font-weight-light">
            Look for information on the internet, on LinkedIn, and so forth.
        </li>
        <li class="h5 font-weight-light">
            Is it possible to upload a profile picture? You may do a reverse
            internet search.
        </li>
        <li class="h5 font-weight-light">
            Inform a trustworthy person of the meeting location as well as the
            meeting hours.
        </li>
        <li class="h5 font-weight-light">
            Charge your phone and, if possible, get a tracking app.
        </li>
        <li class="h5 font-weight-light">
            Choose your own method of transportation
        </li>
        <li class="h5 font-weight-light">Consider meeting in a public venue</li>
        <li class="h5 font-weight-light">
            Look for information on the surrounding area.
        </li>
        <li class="h5 font-weight-light">
            Bring plenty of time to take a stroll around the neighborhood.
        </li>
        <li class="h5 font-weight-light">
            Inquire about pets, such as large dogs!
        </li>
        <li class="h5 font-weight-light">
            Inquire if there will be any disruptions, such as children
        </li>
        <li class="h5 font-weight-light">
            Wait before entering or leaving the scene
        </li>
        <li class="h5 font-weight-light">
            If the meeting place or circumstances makes you nervous, it's better
            to choose another option
        </li>
        <li class="h5 font-weight-light">
            If you are feeling uneasy throughout the discussion or If you
            suspect a participant of being drunk, you may leave.
        </li>
        <li class="h5 font-weight-light">
            Remember that if the meeting goes forward, you should always have
            your food and/or drink within easy reach.
        </li>
    </ul>

    <p><a href="/help" style="color: blue">Back to main menu</a></p>
</div>
{% endblock %}
