{% extends "layout.html" %} {% block body %}

<div class="container mt-5 mb-5">
    <p class="profiletext1 pt-5 mb-5">Hired Voice Actors</p>

    <!-- job div Start-->

    <div class="border rounder py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <p class="jobtitle1">Title Name</p>
                    <p class="jobno1">
                        #9427247
                        <span class="postdate">Posted: 10-Nov-2020</span>
                    </p>

                    <span class="requiredjob">Male</span>
                    <span class="requiredjob">Instructor</span>
                    <span class="requiredjob">Informative</span>
                    <span class="requiredjob">Knowledgeable</span>
                    <span class="requiredjob">Knowledgeable</span>
                    <span class="requiredjob">Knowledgeable</span>

                    <p class="Finishedtime">
                        Word Count: 1710 • Finished Minutes: 0h: 11m: 24s
                    </p>
                    <div class="jobsideprofile">
                        <img
                            src="static/img/profile.png"
                            class="img-fluid profilesideimg"
                        />
                        <span class="pl-2">User Name </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p class="font-weight-bold mb-0">$500</p>
                    <p class="mb-0">0 Responses</p>
                    <p class="mb-0">20% VoiceTie</p>
                    <p class="mb-0">Deadline: Nov 13, 2020</p>
                    <button class="btn btn-success mt-3">Reply To Job</button>
                </div>
            </div>
        </div>
    </div>
    <!-- job div end-->

    <!-- job div Start-->

    <div class="border rounder py-3">
        <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <p class="jobtitle1">Title Name</p>
                    <p class="jobno1">
                        #9427247
                        <span class="postdate">Posted: 10-Nov-2020</span>
                    </p>

                    <span class="requiredjob">Male</span>
                    <span class="requiredjob">Instructor</span>
                    <span class="requiredjob">Informative</span>
                    <span class="requiredjob">Knowledgeable</span>
                    <span class="requiredjob">Knowledgeable</span>
                    <span class="requiredjob">Knowledgeable</span>

                    <p class="Finishedtime">
                        Word Count: 1710 • Finished Minutes: 0h: 11m: 24s
                    </p>
                    <div class="jobsideprofile">
                        <img
                            src="static/img/profile.png"
                            class="img-fluid profilesideimg"
                        />
                        <span class="pl-2">User Name </span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <p class="font-weight-bold mb-0">$500</p>
                    <p class="mb-0">0 Responses</p>
                    <p class="mb-0">20% VoiceTie</p>
                    <p class="mb-0">Deadline: Nov 13, 2020</p>
                    <button class="btn btn-success mt-3">Reply To Job</button>
                </div>
            </div>
        </div>
    </div>
    <!-- job div end-->
</div>

{% endblock%}
