<!DOCTYPE html>
<html lang="en">
<head>
        {% block head %}
  <title>Voice</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
        <link rel="stylesheet" type="text/css" href="static/css/navbar.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% endblock %}

</head>
<body>


<div class="customnav">
  <input type="checkbox" id="customnav-check">
  <div class="customnav-header">
    <div class="customnav-title">
            <img src="static/img/logo.jpeg" class="logo img-fluid">
    </div>
  </div>
  <div class="customnav-btn">
    <label for="customnav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="customnav-links">
    <a href="#">Home</a>
        <a class="nav-link" href="/job">Job </a>
        <a class="nav-link" href="/payment">Payment</a>
        <a class="nav-link" href="/profile">Profile</a>
 <a href="#">
  <form class="form-inline my-2 my-lg-0">
                <div class="form-group has-search">
                    <input type="text" class="form-control input1" placeholder="Search">
                    <span class="fa fa-search form-control-feedback bluecolor"></span>

                </div>
            </form>
</a>
  </div></div>
{% block body %}




{% endblock %}


<footer class="footer mt-5 pb-5 pt-5">

<div class="container">

<div class="row">

<div class="col-sm-3">
<ul class="nav flex-column footerul1">
	<p class="footerheading1">Company</p>
  <li class="nav-item">
    <a class="nav-link active" href="#">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Careers</a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="#">Vision</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Reports</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Newsroom</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Trust & Safety</a>
  </li>
</ul>
</div>


<div class="col-sm-3">
<ul class="nav flex-column footerul1">
	<p class="footerheading1">Community</p>
  <li class="nav-item">
    <a class="nav-link active" href="#">Blog</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Podcasts</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Events</a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="#">Webinars</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Partners</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Coaches</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Success Stories
</a>
  </li>
</ul>
</div>










<div class="col-sm-3">
<ul class="nav flex-column footerul1">
	<p class="footerheading1">Resources
</p>
  <li class="nav-item">
    <a class="nav-link active" href="#">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Careers</a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="#">Vision</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Reports</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Newsroom</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Trust & Safety</a>
  </li>
</ul>
</div>



<div class="col-sm-3">
<ul class="nav flex-column footerul1">
	<p class="footerheading1">Browse</p>
  <li class="nav-item">
    <a class="nav-link active" href="#">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Contact Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Careers</a>
  </li>
 <li class="nav-item">
    <a class="nav-link" href="#">Vision</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Reports</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Newsroom</a>
  </li>
   <li class="nav-item">
    <a class="nav-link" href="#">Trust & Safety</a>
  </li>
</ul>
</div>


</div>

<div class="footerbottom ">
<div class="row">
<div class="col">
  <p class="Subscribetxt">Subscribe</p>
</div>
<div class="col-sm-4">

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Email">
    <div class="input-group-append">
      <button class="btn sendbtn" type="button">
        <i class="fa fa-paper-plane"></i>
      </button>
    </div>
  </div>



</div>
<div class="col-sm-1"></div>

<div class="col-sm-5">
  <span class="footericon1">connected with us</span>
  <!-- Add font awesome icons -->
<a href="#" class="fa footericon fa-facebook"></a>
<a href="#" class="fa footericon fa-twitter"></a>
<a href="#" class="fa footericon fa-google"></a>
<a href="#" class="fa footericon fa-linkedin"></a>

</div>

</div>

<p class="footerbottomtext2">Copyright © 2015 - 2020 | All Rights Reserved</p>


</div>








</div>


</footer>


{% block script %}

{% endblock %}



</body>
</html>


