{% extends "layout.html" %}
{% block title %}{{ args_category_name|title }}{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block body %}
    <div class="main-sector-div-1 pt-5 pb-5">

        <div class="container">

            <p class="h1">{{ args_category_name|title }}</p>
            <p class="h5 font-weight-light">
                {% if content_display == 1 %}
                    The correct animation Voice over will keep crowds as eager as ever, and maneuver them into your
                    realm.
                    There are such countless various types of animation, you should make certain to pick the correct
                    Voice
                    to coordinate the characters
                    you've created and the style you're working in! At Voicescity, not exclusively would you be able to
                    locate a wide assortment of experienced voice entertainers -ideal for sharing your animation on the
                    worldwide stage.
                {% elif content_display == 2 %}
                    Voice-over documentary is a workmanship, and the job of the voice over is basic to the
                    accomplishment of the film. A voice-over in a documentary film passes on the character, establishes
                    the pace, and appeals the listeners. All the visuals can be awesome and the correct voice can
                    supplement it to make it considerably more so.
                {% elif content_display == 3 %}
                    A voice artist will appeal people to your organization, product, or service by carrying the correct
                    tone and character to your business message.
                    An alluring voice can even get inseparable from your image, changing it from simply one more name on
                    the rack to being as natural and cherished to your client as their closest companion.

                {% elif content_display == 4 %}
                    Need somebody to represent your story? Not certain where to begin? The ideal storyteller voice is
                    one that can dazzle your listeners and truly take your story or message to another level. On the off
                    chance that you need a voice to tell or sell your film, narrative, introduction, or book recording,
                    you can discover the voice you are searching for here.
                {% elif content_display == 5 %}
                    Need to recruit an audiobook voice entertainer? At the point when the material of an audiobook
                    matches up to the exact narrator voice, the outcome totally enamors listeners. Allow Voicescity to
                    play go-between by interfacing your audiobook voice over venture to the narrator that will
                    rejuvenate it. In case you're searching for different voice entertainers to satisfy the necessities
                    of a full cast, you can discover every one of your voice entertainers effectively by posting a work.
                    Discover talent who have won honors, for their  work, here!
                {% elif content_display == 6 %}
                    Hiring computer game voice artists? Ensure you have your character specs prepared prior to choosing
                    your computer game voices! The present effective computer game requires extraordinary narrating, an
                    appealing idea, quality animation, and vigorous voice acting. Computer game voice entertainers at
                    Voicescity.com have Voices that are at the same time wonderful and invigorating. They can keep
                    baffled players encouraged, guaranteeing that interactivity proceeds long after a gamer's underlying
                    purchase. Cast your characters with professional computer game voice entertainers at Voicescity.com
                    and watch as your game takes off.
                {% elif content_display == 7 %}
                    Podcast Voicescity interface straightforwardly with listeners. The human voice itself is the most
                    useful asset we need to attach profoundly with others. Dealing with a podcast or need to reboot your
                    show? Find a podcast Voicescity that can assist with that. The astounding voice artist at Voicescity realize how to take material regarding any matter and transform it into an entrancing digital
                    recording. Soon your audience members   demand for additional!
                {% elif content_display == 8 %}
                    Searching for an extraordinary phone voice? On the off chance that you have ever sat on the line
                    while holding back to address a customer assistance representative, you realize exactly how
                    disappointing the entire experience can be. While enormous organizations can not generally guarantee
                    callers get quick admittance to representatives, they can limit off-kilter quietness with the
                    assistance of phone voice overs. Voicescity phone voice artists have charming, yet definitive
                    voices fit for giving customers genuine feelings of serenity as they wait for help.
                {% elif content_display == 9 %}
                    Informative Voicescity should be useful, legitimate, and connecting with, to keep the listener's
                    ability to focus and at last, assist them in withholding data. Informative voice over is perhaps the
                    most sought work on Voicescity. Powered by the eLearning boom, organizations, schools, and brands
                    are generally starting to create an ever-increasing number of instructive courses and stuff to
                    connect with people. The accomplished instructive voice over entertainers at Voicescity can change
                    any instructive stuff into the ideal voice-over to address your association's requirements.
                {% elif content_display == 10 %}
                    For the directors and animation makers, you definitely realize that everybody loves animated films.
                    It's fun and energetic. It can right away make even the most commonplace subjects fascinating.
                    It's a decent platform for organizations to send their messages, to advance a product, and to teach
                    youngsters with fun animation series.
                    Do you have project you are casting for? There are various interesting points when hiring a
                    voice-over entertainer in an animation whether it's a TV ad, animation series, film, computer game,
                    or an explainer video. The right voices are here at Voicescity.
                {% elif content_display == 11 %}
                    Hoping to switch up your radio Voicescity? A radio program does not merit tuning in to except if
                    the voice behind it sounds extraordinary, yet the DJ and the host are not the solitary ones giving
                    Voicescity heard on the radio. Each time a station jumps to advertisements, an appealing radio
                    voice is there to remind audience which station they have chosen to tune into. Tuning in to the
                    radio ought to be a fantastic encounter - and the capable radio voice entertainers included on
                    Voicescity will make it simply that.
                {% elif content_display == 12 %}
                    While dubbing and voice over may sound relative, they really serve various capacities in movies and
                    other diversion media. To precisely figure out which one your task needs, you need to comprehend the
                    contrasts between the two.
                    Voice over is in some cases saw as even more a storytelling. A voice-over track directs its audience
                    through a cycle, impacts dynamic, and educates. In spite of the fact that voice entertainers perform
                    both voice-over and dubbing, voice-over varies here and there from voice acting inactivity.
                    Conventional voice-over portrayal is intended to be more clear and useful and is frequently utilized
                    for explicit kinds of activities, for example, ads and narratives. Voicescity has the best
                    voice-dubbing artists in the market.
                {% else %}
                    Voice-over documentary is a workmanship, and the job of the voice over is basic to the
                    accomplishment of the film. A voice-over in a documentary film passes on the character, establishes
                    the pace, and appeals the listeners. All the visuals can be awesome and the correct voice can
                    supplement it to make it considerably more so.
                {% endif %}
            </p>

        </div>


    </div>

    <div class="container mt-1 mb-5">
        <p class="profiletext1 pt-5 mb-5">Search</p>
        <div class="row">
            <section class="col-sm-2">
                <form action="/actors" method="get">
                    <div class="mb-3">
                        <label class="postjoblabel">Gender
                        </label>
                        <select class="selectpicker form-control  mt-2" id="category" name="category"
                                data-live-search="true">
                            {% for eachCategory in categories %}
                                {% if eachCategory['Type'] == "gender" %}
                                    <option value="{{ eachCategory['_id'] }}"
                                            {% if eachCategory['_id']|string == category|string %}selected{% endif %}>{{ eachCategory['Category Name']|title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="postjoblabel">Category
                        </label>
                        <select class="selectpicker form-control  mt-2" id="category" name="category"
                                data-live-search="true">
                            {% for eachCategory in categories %}
                                {% if eachCategory['Type'] == "category" %}
                                    <option value="{{ eachCategory['_id'] }}"
                                            {% if eachCategory['_id']|string == category|string %}selected{% endif %}>{{ eachCategory['Category Name']|title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="postjoblabel">Age
                        </label>
                        <select class="selectpicker form-control  mt-2" id="category" name="category"
                                data-live-search="true">
                            {% for eachCategory in categories %}
                                {% if eachCategory['Type'] == "age" %}
                                    <option value="{{ eachCategory['_id'] }}"
                                            {% if eachCategory['_id']|string == category|string %}selected{% endif %}>{{ eachCategory['Category Name']|title }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="postjoblabel">Language
                        </label><br>
                        <select id="language" name="language" class="selectpicker form-control  mt-2"
                                data-live-search="true">
                            {% for langauge in languages %}
                                <option value="{{ langauge }}"
                                        {% if langauge == language|string %}selected{% endif %}>{{ langauge }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3">
                        <label class="postjoblabel">Accent
                        </label><br>
                        <select id="accent" name="accent" class="selectpicker form-control  mt-2"
                                data-live-search="true">
                            {% for acent in accents %}
                                <option value="{{ acent }}"
                                        {% if acent == accent|string %}selected{% endif %}>{{ acent }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-3 text-center">
                        {#                         onclick="searchActors()" #}
                        <button type="submit" class="btn btn-success">Search</button>
                    </div>

                </form>


            </section>

            <section class="col-sm-10">
                <div class="border rounder">
                    {% set a = namespace(value=0) %}
                    {% for actor in actors %}
                        {% if search_item != "" %}
                            {% if args_category[0]|string in actor['playlists']['playlist_category'] %}
                                {% set a.value = a.value + 1 %}
                                <!-- audio start-->
                                <div class="border-bottom px-3 py-1">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img {% if actor['profilePicture'] == "" %}src="../static/actorprofilepic/{{ actor['profilePicture'] }}"
                                                 {% else %}src="static/img/profile.png"{% endif %}
                                                 class="img-fluid profilesideimg">
                                            <div class="profiletextdiv1">
                                                <p class="pl-2 mb-0">{{ actor['userName'] }}</p>
                                                <p>
                                                    <i class="fa fa-map-marker pr-2 ml-2"></i>{{ actor['Location'] }}
                                                </p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <audio controls controlsList="nodownload" class="w-100">
                                                <source src="static/audio/{{ actor['playlists']['playlist'][0] }}"
                                                        type="audio/mpeg">
                                                Your browser does not support the audio element.
                                            </audio>
                                            <p class="audiotext1">{{ language }} |
                                                {% for eachCategory in categories %}
                                                    {% if eachCategory['_id']|string == args_category[0]|string %}
                                                        {{ eachCategory['Category Name']|capitalize }}
                                                    {% endif %}{% endfor %}</p>
                                        </div>
                                        <div class="col-sm-2">
                                            <a href="/actorprofile?id={{ actor['_id'] }}">
                                                <button class="btn btn-success mx-2">Profile</button>
                                            </a>
                                        </div>
                                        <div class="col-sm-2">
                                            {% if email != None %}
                                                <button class="btn btn-success">Chat</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- audio end-->
                            {% endif %}
                        {% else %}
                            {% if actor['playlists'] %}
                                {% set a.value = a.value + 1 %}
                                <!-- audio start-->
                                <div class="border-bottom px-3 py-1">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <img{% if 'profilePicture' in actor %}
                                                {% if actor['profilePicture'] != "" %}src="../static/actorprofilepic/{{ actor['profilePicture'] }}"
                                                {% else %}src="static/img/profile.png"{% endif %}{% endif %}
                                                class="img-fluid profilesideimg">
                                        </div>
                                        <div class="col-sm-3">
                                            <p class="pl-2 mb-0">{{ actor['userName'] }}</p>
                                            <p>
                                                <i class="fa fa-map-marker pr-2 ml-2"></i>{{ actor['Location'] }}
                                            </p>
                                        </div>
                                        <div class="col-sm-4">
                                            <audio controls controlsList="nodownload" class="w-100">
                                                <source src="static/samples/{{ actor['playlists']['playlist'][0] }}"
                                                        type="audio/mpeg">
                                                Your browser does not support the audio element.
                                            </audio>
                                        </div>

                                        <div class="col-sm-2">
                                            <a href="/actorprofile?id={{ actor['_id'] }}">
                                                <button class="btn btn-success mx-2">Profile</button>
                                            </a>
                                        </div>
                                        <div class="col-sm-2">
                                            {% if email != none %}
                                                <button class="btn btn-success">Chat</button>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <!-- audio end-->
                            {% endif %}
                        {% endif %}
                    {% endfor %}



                    {% if a.value == 0 %}
                        <p style="text-align: center">No matching actors found for {{ languages[0] }}
                            and {{ categories[0]["Category Name"]|capitalize }}</p>
                    {% endif %}

                </div>

            </section>
        </div>
    </div>






{% endblock %}