{% extends "layout.html" %} {% block title %}Privacy Policy{% endblock %} {%
block head %} {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link
    rel="stylesheet"
    href='{{ url_for("static", filename="css/order.css") }}'
/>
<link
    rel="stylesheet"
    href='{{ url_for("static", filename="css/floating.css") }}'
/>
{% endblock %} {% block body %}
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <div class="border border-black py-3 px-3 text-capitalize shadow">
                <p class="pt-5 font-weight-bolder h2 pb-2 text-center">
                    Privacy Policy
                </p>

                <p>
                    privacy policy gathers personal information that is
                    collected by Voicescity whenever you communicate with
                    Voicescity,for instance when you buy our services or contact
                    our representatives.kindly take some time to go through the
                    following privacy policies, inclusive of what kind of
                    information is collected, how the data is utilized. your
                    privacy is our prime conern,and we try our best to secure
                    it.
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    your secrecy is secured.
                </p>

                <p>
                    Safeguarding your personal data is the basic way how we
                    manage dealings at Voicescity,while bringing forth the
                    finest customer support.
                </p>
                <p>
                    Voicescity owns safety measures consist of managerial,
                    technical, and corporal to keep your personal data from any
                    kind of harm.
                </p>
                <p>
                    After your registeration Voicescity agrees to the terms &
                    conditions of Personal Information Protection and Electronic
                    Documents Act.Since Jan 1st,2004,which demands every company
                    to get the assent of every individual prior to use personal
                    information.
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    Wholeness of your Personal Information:
                </p>
                <p>
                    Personal information gets registered in your
                    dossier,protected on superior-standard Internet
                    servers,Informations like your name, address,cell number &
                    business information,which could only be accessed by
                    authorized users in order to assist and interact with you
                    regarding your membership.
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    How we secure peronal information:
                </p>
                <p>
                    The right security measures are taken to safeguard your data
                    from unauthorized use,use of your dossier or file is limited
                    to our representatives, who are commited to uphold your
                    secrecy.
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    When We Reveal Data:
                </p>

                <p>
                    Be certain that neither your data is offered for purchase
                    nor rented to other marketers.For the best services , your
                    data might be shared with legitimate individuals at
                    Voicescity who agreed to Voicescity privacy
                    policy.Sometimes, your date may be provided to companies
                    that are involved with Voicescity to give services to you
                    under the auspices of Voicescity.These compnies are also
                    bound to secure your data, it is nearly impossible for you
                    to buy products,procure services, get customer support, give
                    use feedback to enhance or approach particular services
                    ,offers ,and content on Voicescity without this very
                    information.
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    Usage of your personal data:
                </p>
                <p>
                    Voicescity recognizes the intention for which your data is
                    gathered and uses it accordingly, once your personal data is
                    shared with us it can be utilized as follows:<br />
                    1. Interacting with you.<br />
                    2. Handling your subscriptions & purchases.<br />
                    3. keeping information of your transactions and inform you
                    about.<br />
                    4. guarding against scam or error. <br />
                    5. offering services demanded by you<br />
                    6. Endorsing high-quality products and services.<br />
                    7. Analyze the user's behavior so as to determine the
                    interest and improve our website accordingly.<br />
                    8. Customizing online ads that Voicescity considers will be
                    of importance and deliver value to you <br />
                    9. Accomplishing any other purpose that would be sensibly
                    obvious to the ordinary being at the time we gather it from
                    you<br />
                    10. Enhancing Voicescity's products and services (such as
                    using transactional data to enhance search and VoiceTie
                    status, or recording demo tapes to advance SEO ranking)<br />
                    11. Conforming to legitimate and legislative requirements
                    <br />
                    12. Such information is made available to explore associates
                    and academics for the advancement of scholarship and
                    innovation that encourage Voicescity's vision and bring
                    enhancement to the Voice Over.
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    You Take advantage from Customized service
                </p>
                <p>
                    Admittance to your own data additionally empowers us to
                    offer you more customized administration. The better we know
                    you, the better we can react to your requirements. With an
                    away from of your own circumstance, we can offer educated
                    exhortation and help you now and later on.
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    Your Entitlement to Access, Update and Right Your Data at
                    Whenever
                </p>
                <p>
                    At Voicescity, we trust and worth the precision of your own
                    data. Consistently, you reserve the privilege to request
                    admittance to the data in your document and solicitation
                    that we update your record for precision or right any
                    mistakes.
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    Your Entitlement to Pull out From Information Assortment
                </p>
                <p>
                    We regard your entitlement to the protection and make it
                    simple to pull out from information assortment, explicitly
                    by obstructing treats and withdrawing from messages. By
                    pulling out assent, thus, Voicescity will be unable to offer
                    customized administration by telephone, email, or Online. On
                    the off chance that you'd prefer to pull out from the
                    information assortment, just email support@voicescity.com to
                    make your solicitation. Serving You Better
                </p>

                <p class="pt-2 font-weight-bolder h5 pb-2">
                    Serving You Better
                </p>
                <p>
                    Voicescity is the main online commercial center. We thank
                    you for your business and anticipate proceeding to serve
                    you. On the off chance that you have any inquiries or
                    concerns, they can be sent to support@voicescity.com
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script %} {% endblock %}
