{% extends "layout.html" %} {% block title %}Payment Plans{% endblock %} {%
block head %} {{ super() }}
<link rel="stylesheet" type="text/css" href="static/css/payment.css" />

{% endblock %} {% block body %}

<div class="container mt-5">
    <div class="con-items">
        <div
            class="item item1"
            id="icon-layout1"
            onmouseover="changeHoverClass(this.id)"
        >
            <div class="con-img">
                <img src="1-3.png" alt="" />
            </div>
            <header>
                <h3>Basic</h3>
                <p>0 $ / Year</p>
            </header>

            <ul>
                <li>
                    <i class="bx bx-check"></i>
                    10 Jobs
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Get access to, and be heard by thousands of clients with a
                    Voicescity profile
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Show off your vocal skills by uploading your demos
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Get invited to private jobs from clients who find you by
                    searching or visiting your profile
                </li>

                <li>
                    <i class="bx bx-check"></i>
                    Have peace of mind knowing that your pay is held safely with
                    Secured Pay until work is completed
                </li>
            </ul>
            <form
                action="/re-new-paymentplan"
                method="post"
                enctype="multipart/form-data"
            >
                <input
                    name="paymentPlan"
                    style="display: none"
                    value="standard"
                />

                <button
                    class="border"
                    type="button"
                    id="standard"
                    onclick="paymentmethod(this.id)"
                >
                    Choose Plan
                </button>
            </form>
        </div>
        <div
            class="item active item2"
            id="icon-layout2"
            onmouseover="changeHoverClass(this.id)"
        >
            <div class="con-img">
                <img src="2-1.png" alt="" />
            </div>
            <span class="badge"> Popular </span>
            <header>
                <h3>Silver</h3>
                <p>199 $ / Year</p>
            </header>
            <ul>
                <li>
                    <i class="bx bx-check"></i>
                    30 Jobs
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Respond and audition for public jobs1 that are best suited
                    to your vocal skills
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Automatically receive audition invitations as VoiceTie
                    matches your profile to jobs
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    See and track how you're doing with insights from
                    performance-related Statistics
                </li>

                <li>
                    <i class="bx bx-check"></i>Achieve better visibility in
                    search results with improved search ranking
                </li>
            </ul>

            <button class="border" id="silver" onclick="paymentmethod(this.id)">
                Choose Plan
            </button>
        </div>
        <div
            class="item item3"
            id="icon-layout3"
            onmouseover="changeHoverClass(this.id)"
        >
            <div class="con-img">
                <img src="3-1.png" alt="" />
            </div>
            <header>
                <h3>Gold</h3>
                <p>299 $ / Year</p>
            </header>
            <ul>
                <li>
                    <i class="bx bx-check"></i>
                    unlimited Jobs
                </li>

                <li>
                    <i class="bx bx-check"></i>
                    Get unlimited access to the jobs that match your profile
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Be seen by clients more often by appearing atop search
                    results with priority ranking
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Network with our Professional Services Team at Talent
                    Showcases
                </li>
                <li>
                    <i class="bx bx-check"></i>
                    Share your insights and knowledge with aspiring voice actors
                    as a Voices Insider
                </li>
            </ul>
            <!--            <form action="/re-new-paymentplan" method="post">-->
            <input name="paymentPlan" style="display: none" value="premium" />

            <button
                class="border"
                id="premium"
                type="button"
                onclick="paymentmethod(this.id)"
            >
                Choose Plan
            </button>
            <!--            </form>-->
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div
                class="overlay d-flex justify-content-center align-items-center"
            >
                <i class="fas fa-2x fa-sync fa-spin"></i>
            </div>
            <div class="modal-header">
                <h4 class="modal-title">Silver</h4>
                <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/re-new-paymentplan" method="post">
                <div class="modal-body">
                    <div class="modal-body">
                        <div class="row form-group">
                            <div class="col-sm-2">
                                <label>Payment Type</label>
                            </div>
                            <div class="col-sm-6">
                                <select class="form-control" name="paymentType">
                                    <option value="full">Full</option>
                                    <option value="monthly">Monthly</option>
                                </select>
                                <input
                                    name="paymentPlan"
                                    style="display: none"
                                    value="bronze"
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-sm-12">
                                <p>
                                    If you select payment type full then you
                                    have to pay 190$ for full year. And if you
                                    chose monthly you have to pay 16.58$ for
                                    every month. By selecting "Full" payment you
                                    can save 9$.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button
                        type="button"
                        class="btn btn-default"
                        data-dismiss="modal"
                    >
                        Close
                    </button>
                    <button
                        type="submit"
                        class="btn btn-primary"
                        onclick="buyplan()"
                    >
                        Buy Plan
                    </button>
                </div>
            </form>
        </div>

        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock %} {% block script %}
<script src="https://checkout.stripe.com/checkout.js"></script>

<script>
    function checkpayment() {
        $("#paymentModal").modal();
    }

    function paymentmethod(plantype) {
        // hide the bootstrap alert
        var price = 0;
        if (plantype == "premium") {
            price = 299 * 100;
        } else if (plantype == "silver") {
            price = 199 * 100;
        }

        var name = "{{username}}";
        var email = "{{email}}";

        <!--var oldplan = "";-->
        <!--$.ajax({-->
        <!--                                url: "/check-current-paymentmethod",-->
        <!--                                type: "GET",-->
        <!--                                data: {paymentmethod:plantype},-->

        <!--                                success: function (response) {-->

        <!--                                        }-->
        <!--                                        });-->

        if (plantype == "standard") {
            fetch("/re-new-paymentplan", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    amount: price,

                    name: name,
                    email: email,
                    paymentmethod: plantype,
                    description: "aasdsa",
                }),
            }).then(function (response) {
                if (response.ok) {
                    alert("Payment method successfuly updated");
                    window.location.href = "/actor-home";
                    return "true";
                }
            });
        }

        var handler = StripeCheckout.configure({
            key: "{{ key }}",
            image: "../static/img/logo.png",
            locale: "auto",

            token: function (token) {
                fetch("/re-new-paymentplan", {
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        token: token.id,
                        amount: price,

                        name: name,
                        email: email,
                        paymentmethod: plantype,
                        description: plantype,
                    }),
                })
                    .then(function (jsonResponse) {
                        // update the alert message
                        alert("Payment method successfuly updated");

                        window.location.href = "/actor-home";
                    })
                    .catch(function (err) {
                        // update the alert message
                        alert(err);
                    });
            },
        });

        handler.open({
            name: "Voices City",
            description: "Payment Plan",
            amount: price,
            currency: "USD",
            country: "GB",
        });
    }

    window.addEventListener("popstate", function () {
        handler.close();
    });
</script>
{% endblock %}
