{% extends "layout.html" %}

{% block body %}
    <div class="container">

        <h1 class="text-center pt-5">Sign Up for Free</h1>
        <h3 class="text-center mb-5">
            I Want To</h3>

        <div class="row mt-5 w-75 mx-auto">

            <div class="col-sm-6">
                <a href="/worksignup" class="Signlink1">
                    <div class="shadow p-3 mb-5 bg-white rounded text-center border border-black">
                        <i class="fa fa-microphone icon2"></i>
                        <p class="Signtext1">Work</p>
                        <p class="Signtext2">as a voice actor</p>

                    </div>
                </a>

            </div>
            <div class="col-sm-6">
                <a href="/hiresignup" class="Signlink1">
                    <div class="shadow p-3 mb-5 bg-white rounded text-center border border-black">
                        <i class="fa fa-sticky-note icon2"></i>
                        <p class="Signtext1">Hire</p>
                        <p class="Signtext2">a voice actor</p>

                    </div>
                </a>
            </div>

        </div>


    </div>

{% endblock %}