{% extends "layout.html" %} {% block title %}Terms-Condition{% endblock %} {%
block head %} {{ super() }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link
    rel="stylesheet"
    href='{{ url_for("static", filename="css/order.css") }}'
/>
<link
    rel="stylesheet"
    href='{{ url_for("static", filename="css/floating.css") }}'
/>

{% endblock %} {% block body %}
<link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"
/>

<div class="container mt-5">
    <div class="row mb-5 mt-4">
        <div class="col-sm-12">
            <div class="border border-black py-3 px-3 shadow">
                <p class="font-weight-bold h3 pb-2 text-center">
                    Terms of Services
                </p>
                <p>
                    Kindly read all the terms & conditions of this ("Agreement")
                    cautiously.
                </p>
                <p>
                    By: (a) making an account; (b) clicking "I agree" (or making
                    some other dynamic step) to demonstrate that you are
                    consenting to the provisions of this Agreement; (c) sign a
                    duplicate copy of this Agreement; (d) signing, posting or in
                    any case conceding to the terms of a work order, statement
                    of work or employment posting (which incorporates the
                    portrayal of the relevant Customer venture) (each, a sort of
                    "Work Posting"); (d) signing, offering or in any case
                    concurring on another Agreement that includes the conditions
                    of this Agreement (a "Services Agreement"); or (e) in any
                    case going into a business relationship with Voicescity Inc.
                    ("Voicescity"); (every one of the prior acts is a "Acts of
                    User Acknowledgment") you recognize that you have read,
                    comprehended and consent to be limited by the terms and
                    conditions of this Agreement. It is essential to examine
                    this whole Agreement. Specifically, IT CONTAINS REQUIREMENTS
                    THAT MAY RESTRICT YOUR PRIVILEGES, FOR EXAMPLE, SECTION 13
                    LIMITED WARRANTY AND SECTION 14 LIMITATIONS. This Agreement
                    applies to all earlier, current, and future courses of
                    action among you and Voicescity. In the event that you have
                    consented to both an executed and a click-wrap or
                    browse-wrap version of this Agreement, the executed form
                    will be vital (and will oversee) to this Agreement
                    exclusively to the degree that there is an irregularity.
                </p>
                <p>
                    This Agreement oversees the connection among Voicescity and
                    the client which might be either a talent agency or
                    individual voice talent selling their services (each a
                    "Talent"), or a buyer of voice talent services ("Client(s)"
                    and, along with the Talent, a "Client"). In the event that
                    the Client doesn't consent to the entirety of the details of
                    this Agreement, the Client must suspend his, her or its
                    utilization of the Services (as such term is characterized
                    underneath) gave by Voicescity.
                </p>

                <p>
                    <b>1. Services:</b> The User will approach the different
                    services made accessible to Users as a component of the
                    Voicescity online services (the "Services") occasionally,
                    predictable on the degree of service bought by the User.
                    Clients may decide to acquire custom Services from
                    Voicescity by going into a Services Agreement that will
                    include these Terms of Service by reference (the details of
                    the Services Agreement will be foremost [and will govern] to
                    this Agreement exclusively to the degree that there is an
                    irregularity).
                </p>

                <p>
                    <b>2. Charges:</b>User will pay VoicesCity.com its standard
                    charges set out on the Voicescity site (www.voicescity.com)
                    (the "Site") now and again for the degree of service chose
                    by the Client or the degree of membership chose by the
                    Talent, or if pertinent as set out in a Services Agreement.
                    Voicescity may change its standard charges or levels of
                    service whenever, given that such changes won't matter in
                    regard to any then exceptional Services Agreement. Every
                    Client will be answerable for the payment of all charges
                    Client has consented to pay Talent for each work.
                    Furthermore, the Client will pay a handling charge depending
                    on the all-out estimation of any work finished through the
                    usage of the Services increased by the processing charge
                    rate. Talent will pay to Voicescity: a transaction or
                    platform charges for each independent voice talent work said
                    Talent is employed for, as such charge is cited through the
                    Site occasionally.
                </p>
                <p>
                    All charges will be payable ahead of time except if in any
                    case settled upon recorded as a hard copy (counting without
                    constraint by means of the applicable Job Posting). Except
                    if in any case trained by the User, intermittent Services
                    will be consequently restored for a Term comparable to the
                    earlier Term with payment being charged to the User by
                    Voicescity by a similar payment method as in the past.
                </p>

                <p>
                    Any payment not made when due will be liable to a interest
                    of two percent (2%) every month accumulated month to month
                    (comparable to a yearly interest cost of 26.86%).
                </p>

                Payments are not refundable.

                <p>
                    <b>3. Payment Service:</b>All payments to Talent by a Client
                    for voice talent work should be made through Voicescity.
                    Payments for the acquisition of Talent work that is overseen
                    through the Voicescity Professional Services Team are
                    delivered to Talent as per the billing plans made between
                    Voiceover actor and the Client. Payments for the acquisition
                    of Talent work through non-Professional Services Jobs are
                    held by Voicescity until the EARLIER OF (I) the Client
                    clicks 'Release Funds'; or (ii) 14-days from the settled
                    upon delivery date as contained in the Services Agreement or
                    the Job Posting (as appropriate). Without restricting the
                    over-simplification of the prior and for more prominent
                    conviction, this implies that assets because of Talent for
                    non-Professional Services Jobs will be automatically
                    delivered 14-days after the conveyance date set in the
                    Services Agreement or Job Posting (as pertinent) should the
                    payment not be physically delivered by the Client before
                    that date. On verification of the payment release,
                    regardless of whether manual or automatic, Voicescity will
                    pay the Talent on its next planned payout date. Clients are
                    needed to contact support should they need to change,
                    expand, or defer the delivery cutoff time so that funds are
                    not automatically delivered (for instance, if the end result
                    gave by Talent is not palatable to the Client since it is
                    not consistent with the Services Agreement or Job Posting).
                </p>

                <p>
                    Every User, therefore, concurs that he, she or it will not
                    evade the Voicescity payment methods (as might be reported
                    to Users by means of the Site) or participate in any
                    Prohibited Acts (as such term is characterized underneath).
                    For the motivations behind this segment of this Agreement,
                    "Prohibited Acts" incorporate (yet are not restricted to)
                    the accompanying:
                </p>
                <ul>
                    <li>
                        Listing, showing or in any case giving any immediate
                        contact data to a User through the Services.
                    </li>
                    <li>
                        Submitting proposition to or requesting Clients
                        distinguished on the Site to contact, employ, oversee or
                        pay such User straightforwardly and not through the
                        Services.
                    </li>
                    <li>
                        Accepting recommendations from or requesting voice
                        talent recognized on the Site to contact, convey voice
                        talent work, invoice, or get payment by another User
                        directly and not through the Services.
                    </li>
                    <li>
                        Invoicing or giving an account of the Site an invoice or
                        payment not the same as that agreed among Client and
                        Talent.
                    </li>
                    <li>
                        Using any Work Product (as characterized underneath in
                        area 6) or different materials from the Services without
                        payment.
                    </li>

                    <li>
                        Any payment for, or utilization of, Work Product
                        (including without impediment through an extension,
                        renewal or re-use) other than as per an acknowledged Job
                        Posting or Services Agreement.
                    </li>
                    <li>
                        Any other circumvention of the Services to set up
                        contact between a Client and Talent to finish a voice
                        talent work venture.
                    </li>
                </ul>

                <p>
                    <b>4. Term:</b>
                    This term of this Agreement (the "Term") will start when the
                    User performs an Act of User Acceptance. In the event that
                    the User has just performed an Act of User Acceptance, this
                    Agreement will become effective and supplant any already
                    existing Terms of Service when this Agreement is posted on
                    the Site. The Term will proceed for the length of time that
                    the User utilizes, or in any case profits by, the Services,
                    except if ended by one or the other party as allowed by this
                    Agreement. In the event that this Agreement or the Services
                    are ended, Voicescity will furnish the User with 30 days to
                    recover any material it has put on the Site.
                </p>

                <p>
                    <b>5. Site Content:</b> The Site incorporates: (a) content
                    (without restriction works, mottos, logos, marks, plans,
                    thoughts, imaginative materials, fine art, plans, designs,
                    compositions, programming, content, sets, data, databases,
                    PC programming, innovation, pictures, photos, illustrations,
                    mixed media, sound, video, general media and other
                    substance) that has been made (in entire or partially) by
                    Voicescity as well as different elements under our course
                    (for example site makers) as well as moved, sent, submitted
                    or transferred to the Site, or in any case through a
                    Service, by Voicescity (altogether, "Voicescity Content");
                    (b) content, other than Work Product, that has been
                    autonomously created, and afterward moved, communicated,
                    submitted or transferred to the Site, or in any case through
                    a Service, by Users (on the whole, "Client Content" and,
                    along with the Voicescity Content, the "General Site
                    Content"); and (c) Work Product (all in all, General Site
                    Content and Work Product will be alluded to as "Site
                    Content").
                </p>

                <p>
                    All Voicescity Content is solely claimed by Voicescity.
                    Without restricting the over-simplification of the prior,
                    you thus (I) transfer, appoint and pass on to Voicescity, in
                    unendingness and all through the universe, good, title and
                    interest of each sort whether presently known or getting
                    known (including without impediment copyright) in and to
                    Voicescity Content; (ii) forgo every single good right (and
                    any remaining privileges of a like sort) that you may have
                    in Voicescity Content for Voicescity (and any outsider
                    approved by Voicescity to utilize Voicescity Content); (iii)
                    consent to execute all such further documents as
                    Voicescity.com may demand to affirm or potentially give full
                    impact to Voicescity privileges hereunder; and (iv) concur
                    that your utilization of the Site doesn't give or move to
                    you any proprietorship or different rights in the
                    Voicescity.com Content, and besides as explicitly gave,
                    nothing in this or inside the Site will be interpreted as
                    giving on you any kind of rights in and to Voicescity.com
                    Content.
                </p>

                <p>
                    Subject to the limit that the subsequent supply of rights
                    does now no longer extend to the proper to apply User
                    Content as Work Product, in a Client assignment nor in any
                    other case in alternate for payment, you hereby provide to
                    Voicescity.com (and any 1/3 party authorized via way of
                    means of Voicescity.com) the irrevocable, unrestricted,
                    completely paid up, royalty free, non-one of a kind rights
                    and license to reproduce, copy, publish, carry out in
                    public, talk to the general public via way of means of
                    telecommunication, disseminate, optimize (including without
                    limitation search engine optimization) synchronize with
                    different content material and substances, edit, translate,
                    transcribe, near caption and in any other case use the User
                    Content (including without limitation scripts, lyrics,
                    different literary works, sound recordings, performances,
                    compositions, musical works and different copyrighted
                    content material) you transfer, transmit, submit, add or in
                    any other case make to be had at the Site, or in any other
                    case via a Service, (including without obstacle Job
                    Postings, bio information, testimonials, reviews, profile
                    photographs, voice-over recordings, demos and different
                    content material and information) (in complete or in part,
                    as is or as can be edited) and any substances primarily
                    based totally upon or derived therefrom for the duration of
                    the universe and in perpetuity in any kind of way and media
                    and for any purpose (which includes without trouble to offer
                    the Services and to promote Voicescity.com, its offerings
                    and the Site). You hereby waive all ethical rights (and all
                    different rights of like nature) that you could have with
                    inside the User Content you add or in any other case make
                    available at the Site in the desire of Voicescity.com (and
                    any 1/3 party authorized via way of means of Voicescity.com
                    to apply such User Content).
                </p>

                <p>
                    Voicescity.com thusly concedes every User a restricted,
                    non-select, and revocable permit to make individual and
                    non-business utilization of the Site and its General Site
                    Content. For more noteworthy assurance, this restricted
                    permit just permits you to view and access General Site
                    Content on the Site as needed to offer, consider, go after
                    and acknowledge position openings, yet does not permit you
                    to utilize any General Site Content in activities; just Work
                    Product that has been delivered, and paid for, regarding an
                    acknowledged and finished work (see beneath for details)
                    might be utilized in the material undertaking. The prior
                    restricted permit to utilize General Site Content does
                    exclude any rights not explicitly specified in this; any
                    rights not explicitly conceded to you in these Terms of
                    Service are explicitly held by Voicescity.com.
                </p>

                <p>
                    <b>6. Work Product:</b> concerning voice work delivered by
                    Talent for a Client regarding a Services Agreement or an
                    acknowledged Job Posting , quickly upon the exchange,
                    transmission, accommodation or transfer of Work Product
                    through the Site, or in any case through a Service, Talent:
                    (I) transfers, doles out and passes on to Voicescity.com,
                    all right, title and interest (including without restriction
                    copyright) in and to such Work Product (including without
                    constraint sound accounts, exhibitions, pieces, melodic
                    works and other copyrighted substance included in that) that
                    Talent has consented to give the Client (by means of
                    Voicescity.com) in the relevant Job Posting, Services
                    Agreement or other agreement among Talent and Client; (ii)
                    defers every ethical right (and any remaining privileges of
                    a like sort) that Talent may have in such Work Product for
                    the material Client (and any outsider approved by the Client
                    to utilize such Work Product); and (iii) consents to execute
                    any such further archives as Voicescity.com may demand to
                    affirm or potentially give full impact to Voicescity.com and
                    additionally the appropriate Client's privileges hereunder.
                </p>

                <p>
                    Without restricting the over-simplification of the previous,
                    Voicescity.com (with its chosen ones or licensees) may
                    utilize Work Product as per the appropriate Job Posting,
                    Services Agreement or other agreement between Talent and
                    Client without limitation and with no privileges of
                    endorsement by Talent. Upon payment in full by the Client,
                    Voicescity.com awards to Client, right, title and superior
                    (including without impediment copyright) that Talent has
                    consented to give the Client (by means of Voicescity.com) in
                    and to the appropriate Work in the relevant Job Posting,
                    Services Agreement or another agreement between Talent and
                    Client, which for more prominent sureness will be restricted
                    and liable to any reasons, plan, extension, and limitations
                    (including, if pertinent, classification of utilization,
                    market size, and time span) set out in the relevant Job
                    Posting, Services Agreement or other understanding between
                    Talent and Client. On the occasion, the relevant Services or
                    Job Posting doesn't indicate such cutoff points nor use
                    limitations, a full buy-out of the Work Product is
                    allocated.
                </p>

                <p>
                    <b>7. Guarantees and Representations:</b> By moving,
                    sending, submitting, transferring, or in any case making
                    accessible User Content (without constraint Work Product) on
                    the Site, or in any case through a Service, the relevant
                    User speaks to and warrants to Voicescity that:
                </p>
                <p>
                    (a) User is allowed to go into and completely perform this
                    Agreement;
                </p>
                <p>
                    (b) In the occasion User is talent agency following up for
                    the benefit of voice talent, that agency is the completely
                    approved specialist of voice talent to go into and
                    completely implement this Agreement (for talent
                    organization's own sake and in the interest of voice
                    talent);
                </p>
                <p>
                    (c) User has the option to give the rights allowed hereunder
                    to Voicescity.com with no commitment on Voicescity's part to
                    acquire the assent of (or to make payment to) some other
                    party (incorporate any claim for payment at all, for
                    example, union or guild charges or royalties);
                </p>
                <p>
                    (d) There is no agreement or comprehension with some other
                    individual which would meddle with the implementation of the
                    commitments accepted by User in this Agreement;
                </p>
                <p></p>
                <p>
                    (e) The utilization of the User Content as per the
                    conditions of this Agreement will not disregard any outsider
                    rights nor offer ascent to any outsider claims.
                </p>

                <p>
                    (f) The utilization of the User Content as per the
                    conditions of this Agreement will conform to every pertinent
                    law, guidelines, administrative rules, strategies and codes
                    and industry rules, polocies, and codes.
                </p>

                <p>
                    <b>8. Support:</b> Voicescity.com will offer assistance to
                    the User for its utilization of the Services as sensibly
                    required. Support will be basically using web-based devices.
                    Support does exclude any progressions or customizations.
                </p>

                <p>
                    <b>9. End of Services:</b> (a) Voicescity.com may promptly
                    end this Agreement or suspend or end the User's admittance
                    to the Services without notice upon the event of any of the
                    accompanying occasions: (I) User neglects to make any
                    payments when due; (ii) User neglects to follow this
                    Agreement, any Services Agreement, Job Posting the Community
                    Guidelines or Content Guidelines; (iii) User endeavors to
                    appoint, sub-permit, or in any case, move any of its
                    privileges under this Agreement without the assent of
                    Voicescity.com; (iv) User files a task in bankruptcy or gets
                    bankrupt and additionally indebted, upon the arrangement of
                    a recipient for all or generously the entirety of the
                    property or resources of the User, upon the creation of any
                    task or endeavored task to support creditors or on the
                    foundation by User of any demonstration or proceeding for
                    the ending up of its business; or (v) User itself gets
                    assigned or becomes controlled or half or more possessed
                    independently or in the total by, people who are assigned,
                    as hindered or precluded parties on a Prohibited Party List.
                    If Voicescity.com ends or suspends the User's admittance to
                    the Services or this Agreement under this Section 9(a), the
                    User comprehends and concurs that he, she or it will not get
                    a refund or exchange for any unused time on a current Term,
                    any permit or charges, any content or information related
                    with the User's Services or account or something else..
                </p>
                <p>
                    (b) Voicescity.com may end this Agreement or suspend or end
                    the User's admittance to the Services upon 5 days' notice
                    under any circumstances. If Voicescity.com ends or suspends
                    the User's admittance to the Services or this Agreement
                    under this Section 9. (C) There Is No Refund Policy
                </p>

                <p>
                    <b>10. User Responsibilities:</b> The User is answerable for
                    all movement it conducts utilizing the Services. The User
                    will submit to all relevant laws identifying with its
                    utilization of the Services. The User will not utilize the
                    Services for purposes restricted by voicescity.com every now
                    and then, including without impediment illicit or unseemly
                    purposes; sending spam; execution of security breaks;
                    hacking; security penetrates; deceitful action; dispersion
                    of viruses or other harmful code; transmission, circulation
                    or storage of any material ensured by copyright, trade-mark,
                    proprietary secret or other protected property directly
                    without appropriate approval, or material that is
                    disgusting, abusive, false, encroaching; any unapproved
                    access, adjustment, burglary, defilement or demolition of
                    records, information, transmission facilities or hardware;
                    or to meddle with some other individual's utilization and
                    delight in the Voicescity.com site. The User will maintain
                    any approaches received by Voicescity.com occasionally with
                    respect to the Services, including without constraint the
                    Community Guidelines. Voicescity.com does not regularly
                    observe all material put on the Services, yet may in its
                    circumspection reject, erase or adjust any material
                    offending the above that becomes obvious. Voicescity.com
                    claims all authority to dismiss any proposed or posted Job
                    Posting under any circumstances.
                </p>

                <p>
                    Voicescity.com is not mindful and has no obligation for the
                    content or exactness of any User Content (counting any Job
                    Posting). Every User recognizes and concurs that he/she/it
                    will be exclusively answerable for the User Content
                    he/she/it transfers, communicates, submits, uploads or in
                    any case, makes accessible on the Site, or in any case
                    through a Service, and any inaccuracy of any such User
                    Content. VoicesCity.com may also restrict the amount of
                    storage space utilized by individual users for audio files
                    if in its discretion the amount used is excessive.
                </p>
                <p>
                    The user will offer VoicesCity.com with entire and accurate
                    contact and billing records and update such data as it
                    adjustments. The consumer's access to the services requires
                    logon id's and passwords. it is the user's duty to guard
                    that data, inclusive of without hindrance, to apply powerful
                    passwords that are not effortlessly guessed or discoverable,
                    and hold user names and passwords private. The user will
                    report to VoicesCity.com right away after its discovery of
                    any compromise of its passwords or suspected unauthorized
                    use of the part of the services under its influence.
                    VoicesCity.com will not be responsible for any losses
                    incurred by means of the user because of any unauthorized
                    use of the user's access to the services or web site content
                    and the person hereby concurs it may be accountable for
                    losses incurred by VoicesCity.com or the losses incurred
                    through others due to such unauthorized use.
                </p>

                <p>
                    <b>11. Agencies:</b> The User is a Talent agency giving
                    registration data for voice talent, the User warrants and
                    speaks to (for its own sake and in the interest of the
                    individual voice talent) that it has full power to speak to
                    such individual talent, to furnish Voicescity.com with the
                    registration data and some other expressly recognizing data
                    of such individual voice artist, including a legitimate
                    parent/caretaker approval where legally necessary and to in
                    any case go into and consent to this Agreement for both User
                    for the individual voice artist.
                </p>
                <p>
                    If an individual voice talent of the age of majority gives
                    advice to Voicescity.com that the person in question is not,
                    at this point represented by the agency which was a User and
                    who set up an account or Services for the individual voice
                    talent, Voicescity.com will, at its tact, either give
                    control of the account to another agency which has an
                    account and additionally approaches the Services (for
                    example that is a User) or end the account, as coordinated
                    by the individual voice talent. On the off chance that the
                    individual talent is not of the age of majority, under these
                    conditions the parent or lawful guardian of the individual
                    voice talent may prompt Voicescity.com that the individual
                    voice talent is not, at this point represented by the
                    agency, and Voicescity.com will, at its caution, either
                    surrender control of the account to another talent agency
                    which has an account and additionally approaches the
                    Services or end the account, as coordinated by the
                    individual voice talent's lawful parent or guardian.
                </p>

                <p>
                    <b>12. Administration Levels:</b> Voicescity.com will
                    utilize financially sensible endeavors to offer its Types of
                    services consistently, subject to sensible upkeep
                    necessities and matters beyond Voicescity's sensible
                    control. Voicescity.com may make changes to its site and
                    additionally its Services whenever in its sole caution
                    without notice.
                </p>

                <p>
                    <b>13. Disclaimer of Warranty:</b> To the most extreme
                    degree admissible by law, the Services are given "with all
                    shortcomings", "as accessible" and at the User's sole risk.
                    Voicescity does not warrant that its site or Services are
                    precise or blunder free, that it will work without issues or
                    without interference, or that it will fulfill the User's
                    requirements. Voicescity has no duty regarding any issues
                    that emerge between talent agency and individual voice
                    talent, and at least two Talent, or between any Talent and
                    Client. All such undertaking, and any requirement, breach,
                    terms, conditions, guarantees, and portrayals related with
                    such action is exclusively between those two parties, with
                    no risk or commitment of any sort at all by Voicescity.
                </p>

                <p>
                    Voicescity may give segments of its Services utilizing
                    services and software gave by third parties. Despite
                    whatever else contained in this Agreement, Voicescity's, and
                    such third party', guarantees and liabilities for any issues
                    emerging from such services and software will not surpass
                    those gave to Voicescity from such third parties. Voicescity
                    gives and encourages the Voicescity site, however is not
                    answerable for anything set on the site by Users or a third
                    party. Voicescity does not ensure the precision of any data
                    presented by any User to the Voicescity site, including any
                    distinguishing data about any User.
                </p>

                <p>
                    Any third party sites that are connected to the Voicescity
                    site are not heavily influenced by Voicescity. Voicescity is
                    not answerable for anything on the connected sites,
                    including without restriction, any stuff, connections to
                    different sites, any alterations to those sites, or any
                    approaches those sites may have. Voicescity has no
                    obligation regarding any issues that emerge between a User
                    and such third party. Voicescity gives links as
                    accommodation just and such links do not suggest any support
                    by Voicescity of those sites. Voicescity has the privilege
                    to eliminate such links at its sole caution.
                </p>

                <p>
                    <b>12. Administration Levels:</b> Voicescity will utilize
                    financially sensible endeavors to offer its Types of
                    services consistently, subject to sensible upkeep
                    necessities and matters beyond Voicescity's sensible
                    control. Voicescity may make changes to its site and
                    additionally its Services whenever in its sole caution
                    without notice.
                </p>

                <p>
                    <b>14. Restrictions:</b> All assurances made by Voicescity
                    are contained in this Agreement (or the Services Agreement,
                    if pertinent). Besides as clearly set out thus (or in the
                    Services Agreement, if pertinent), there are no conditions,
                    supports, endeavors, ensures, representations, or guarantees
                    of any sort either express or inferred, (including without
                    impediment any express or suggested guarantees or conditions
                    of quality, execution, results, readiness for a specific
                    reason, merchantability, merchantable quality, durability,
                    title, non-infringement or emerging by law or from a course
                    of managing or utilization of the trade) emerging out of or
                    identified with this agreement or emerging out of or
                    identified with the services.
                </p>
                <p>
                    TO THE GREATEST DEGREE ALLOWED BY LAW, IN NO OCCASION WILL
                    VoicesCity.com BE AT-RISK FOR ANY INDIRECT, EXCEPTIONAL,
                    COINCIDENTAL, CONSIDERABLE, COVER OR REFORMATORY HARMS
                    ANYWAY CAUSED, REGARDLESS OF WHETHER IN AGREEMENT, MISDEED
                    OR UNDER SOME OTHER THEORY OF LIABILITY OR SOME OTHER HARMS
                    IN A ROUNDABOUT WAY EMERGING OUT OF OR IDENTIFIED WITH THE
                    SERVICES, REGARDLESS OF WHETHER SUCH HARMS COULD SENSIBLY BE
                    ANTICIPATED OR THEIR PROBABILITY HAS BEEN UNVEILED TO US. IN
                    NO OCCASION WILL OUR TOTAL RISK EMERGING OUT OF OR
                    IDENTIFIED WITH THIS AGREEMENT, REGARDLESS OF WHETHER IN
                    AGREEMENT, MISDEED OR UNDER SOME OTHER THEORY OF LIABILITY,
                    SURPASS THE CHARGES PAID BY THE CLIENT FOR THE SERVICES
                    DURING THE HALF-YEAR TIME FRAME PROMPTLY GOING BEFORE THE
                    DATE ON WHICH THE REASON FOR ACTIVITY EMERGED.
                </p>

                <p>
                    <b>15. Compensation:</b> Each User will consistently
                    protect, reimburse and hold innocuous Voicescity, its
                    members, trustees and licensees, and their separate
                    officials, chiefs, specialists, investors, representatives,
                    franchisees and licensees from and against any claims,
                    harms, liabilities, expenses constantly (counting lawful
                    charges, fines, charges and the expense of work for
                    investigation and goal), emerging out of any activity,
                    continuing or settlement by any third party dependent on
                    User's breach of any guarantee, portrayal, grant or waiver
                    of rights or agreement settled on in this Agreement
                    (counting without restriction in any pertinent Services
                    Agreement or Job Posting).
                </p>

                <p>
                    <b>16. Changes to Agreement:</b> Voicescity may amend this
                    Agreement every once in a while, such changes being viable
                    tentatively and retroactively after Voicescity presents the
                    reconsidered version on its site. The User's proceeded with
                    utilization of the Services and the Site (including without
                    impediment any Act of User Acceptance) after Voicescity
                    presents any progressions on this Agreement is the User's
                    agreement and consent to be legitimately bound to the new
                    Agreement. In the event that a User does not consent to all
                    of the provisions of the new Agreement, he, she or it should
                    end utilizing the Services and additionally the Site right
                    away. This Agreement may likewise be changed by a legitimate
                    instrument that is made recorded as a hard copy, dated, and
                    executed by the parties. This Agreement can not in any case
                    be changed or altered.
                </p>

                <p>
                    <b>17. Administering Law:</b> This Agreement will be
                    deciphered as per and represented by the laws of the
                    Province of Pakistan, The parties thusly submit to the
                    particular region of the courts of the Province of Sindh,
                    Pakistan, and any party bringing a lawful activity or
                    continuing against some other party emerging out of or
                    identifying with this Agreement will get such legitimate
                    activity or continuing the courts of the Province of Sindh,
                    Pakistan.
                </p>

                <p>
                    <b>18. Private Information:</b> Private Information is all
                    data of either party that is not by and large known to the
                    general people, regardless of whether of a specialized
                    business or other nature (as well as, without constraint,
                    trade confidences, skill and data identifying with
                    innovation, strategies, resources, liabilities,
                    possibilities, financial records, product capacities or
                    shortage in that department), that is unveiled by involved
                    with the other or that is generally learned by the other
                    over the span of its professional interactions with the
                    other, and that has been recognized as being restrictive or
                    potentially classified or that by the idea of the conditions
                    encompassing the revelation or receipt should sensibly to be
                    treated as exclusive as well as secret.
                </p>
                <p>
                    The parties will (a) not utilize Confidential Information
                    for any reason other than that mulled over by this
                    Agreement; (b) not uncover Confidential Information to
                    anybody without the earlier composed approval of the
                    revealing party, during the term of this Agreement or
                    whenever from there on; (c) handle, safeguard and ensure
                    Confidential Information with at any rate a similar level of
                    care that it bears or would stand to its own Confidential
                    Information, including taking all sensible endeavors to
                    dodge divulgence of such Confidential Information to any
                    outsider, whenever; (d) unveil Confidential Information just
                    to its employees or subcontractors who require such data to
                    play out the party's commitments to the next, and are under
                    comparative classification commitments.
                </p>
                <p>
                    The identity of Clients is normally not Confidential
                    Information. On the off chance that Clients want their
                    identity to be treated as Confidential Information, they
                    should inform Voicescity recorded as a hard copy. Every
                    Talent, therefore, concurs he, she or it will regard a
                    Client's way of life as Confidential Information when
                    prompted recorded as a hard copy by Voicescity.
                </p>

                <p>
                    <b>19. Protection:</b> The parties will treat any close to
                    personal data in the ownership of the other party that they
                    may approach under this Agreement as needed under
                    appropriate security law and each party's own protection
                    strategy as it exists every once in a while. Voicescity's
                    security strategy is accessible here. Neither one of the
                    parties will utilize or reveal such close to personal data
                    in any capacity aside from in accordance with the other
                    party's guidelines, to the degree important to perform this
                    Agreement, or as per the authorizations allowed by the
                    person. Voicescity will utilize safety measures sufficient
                    to the affectability of the individual data to secure
                    individual data. On the off chance that Voicescity
                    subcontracts any piece of its commitments hereunder, it will
                    acquire legally binding commitments like this part from the
                    subcontractor.
                </p>

                <p>
                    <b>20. Relationship:</b> This Agreement is not to be
                    interpreted as making any partnership, office relationship,
                    business relationship, or some other type of legitimate
                    affiliation or individual that would force risk upon one
                    party for the activities or disappointment of the other
                </p>

                <p>
                    <b>21. Prior Agreement:</b> This Agreement (and any Services
                    Agreement if pertinent) contains the total and restrictive
                    claim of the agreement between the parties and supplants all
                    earlier and contemporaneous agreement, buy orders,
                    understandings, propositions, exchanges, portrayals, or
                    guarantees of any sort whether in hard copy or oral. No oral
                    or hard copy portrayal that isn't explicitly contained in
                    this Agreement (and any Services Agreement if relevant) is
                    authoritative on one or the other party.
                </p>

                <p>
                    <b>22. Endurance:</b> The arrangements of this Agreement
                    relating to Work Product, Assurances and Representations,
                    Disclaimer of Assurance, Restrictions, Insurance, Personal
                    Information, Confidentiality, and use limitations will
                    endure the end of this Agreement. Different areas relating
                    to rights and commitments which by their tendency ought to
                    endure end are thus affirmed to so endure.
                </p>

                <p>
                    <b>23. Force Majeure:</b> Neither party is subject for an
                    exclusion or deferral in the execution of its commitments
                    hereunder brought about by an occasion past its sensible
                    control. The ideal opportunity for the commitment that is so
                    deferred will be reached out by a sensible time, given that
                    payments will not be put off.
                </p>

                <p>
                    <b>24. Notice:</b>
                    All necessary notification, or notification which might be
                    furnished as per this Agreement, will be recorded as a hard
                    copy and will be properly accommodated if the notification
                    is dispatched to its recipient by prepaid courier,
                    registered or ensured mail, or email, if to Voicescity to
                    the location recorded on the contact part of Voicescity
                    site, and if to the User to the location set out on its
                    profile. Each notice conveyed in the way accommodated thus
                    will be considered to have been received: when conveyed or
                    if by email the 1st business day after the date received.
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %} {% block script %} {% endblock %}
